@media screen and (max-width: 768px) {
	#carousel-example-generic {
		margin-top: -30px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (min-width : 1025px) {
    .desktop-img {
        display: block !important;
    }
    .tablet-img {
        display: none !important;
    }
    .smartphone-img {
        display: none !important;
    }
}

@media only screen and (min-width : 401px) and (max-width : 1024px){
    .desktop-img {
        display: none !important;
    }
    .tablet-img {
        display: block !important;
    }
    .smartphone-img {
        display: none !important;
    }
}

@media only screen and (max-width : 400px) {
    .desktop-img {
        display: none !important;
    }
    .tablet-img {
        display: none !important;
    }
    .smartphone-img {
        display: block !important;
    }
}


.jumbotron {
	background-color: ;
}

#logo {
	position: relative;
	right: 30px;
	float: right;
	max-width: 200px;
	max-height: 200px;
}


h1, 
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.column {
	font-size: 1.1em;
    padding: 20px;
}

.column p {
	padding-top: 10px;
	font-family: Georgia, Cambria, Palatino, Times, serif;
}

.nav {
	background-color: #336699;
	position: static;
	width: 102.6%;
	padding-left: 20px;
	margin-left: -16px;
	top: 0;
	z-index: 1;
}
.carousel {
	margin-top: -70px;
  	margin-left: -60px;
  	margin-right: -60px;
}
.nav ul li {
	display: inline-block;
	padding: 20px 10px 20px;
	float: right;
}

#bs-example-navbar-collapse-1 ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.nav a:hover {
	font-weight: bolder;
	color: #ff0;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#carousel-example-generic {
}

#footing1 {
	float: left;
}
#footing2 > p{
	text-align: right;
	float: right;
	color: #336699;
}

.panel-body {
	color: blue;
}
.panel-heading > h4 {
	background-color: #336699;
}
.panel-title {
	color: white;
}
.rapa  {
	width: 100%;
	height: auto;
}
.contactimage {
 	background-image: url("../img/landscape.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
 	width: 100%;
 	height: auto;
 	margin-bottom: 1.5em;
}

.glyphicon {
	margin-right: 2px;
}

.glyphicon: hover {
	color: #ff0;
	transition: color 900ms;
}
