@media only screen and (min-width : 1025px) {
    .desktop-img {
        display: block !important;
    }
    .tablet-img {
        display: none !important;
    }
    .smartphone-img {
        display: none !important;
    }
}

@media only screen and (min-width : 401px) and (max-width : 1024px){
    .desktop-img {
        display: none !important;
    }
    .tablet-img {
        display: block !important;
    }
    .smartphone-img {
        display: none !important;
    }
	#dance img src {
		display: none !important;
	}
}

@media only screen and (min-width : 769px) and (max-width : 1019px){
	#verein {
	padding-top: 50px !important;		
	}
}

@media only screen and (max-width : 400px) {
    .desktop-img {
        display: none !important;
    }
    .tablet-img {
        display: none !important;
    }
    .smartphone-img {
        display: block !important;
    }
	#dance img src {
		display: none !important;
	}
}

@media only screen and (max-width: 1200px) {
	#collapseOne, #collapseTwo, #collapseThree {
		font-size: 1.35em !important;
		padding: 0 10px!important;
	}

}
@media only screen and (max-width: 992px) {
	#collapseOne {
		font-size: 1.22em !important;
	}

	#dance img {
		display: none !important;
	}
	#aims-satzung {
	padding-top: 5px !important;
	}
	#aims-list {
		margin: auto -25px !important;
	}
}
@media screen and (max-width: 768px) {
	#carousel-example-generic {
		margin-top: -30px;
		margin-left: 0px;
		margin-right: 0px;
	}

	#logo {
		top: 5px !important;
	}

	#collapseOne {
		font-size: 1.1em !important;
	}
}

@media screen and (max-width: 568px) {
	#collapseOne {
		font-size: 0.96em !important;
	}
}

@media screen and (max-width: 476px) {
	#collapseOne, #collapseTwo {
		font-size: 0.82em !important;
	}
}

@media only screen and (max-width : 1094px) {
	.perceptika {
		display: none;
	}
}

@media only screen and (max-width : 930px) {
	#hometitle{
		display: none;
	}
}

@media only screen and (max-width : 827px) {
	#centretitle{
		display: none;
	}
}

body {
  position: relative;
}

.anchor {
	padding-top: 50px;
}

#logo {
	position: relative;
	top: -20px;
	float: right;
	max-width: 200px;
	max-height: 200px;
}
#verein {
	left: 20px !important;
	margin-top: 40px !important;
	}
h1, 
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.column {
	font-size: 1.1em;
    padding: 20px;
	font-family: Georgia, Cambria, Palatino, Times, serif;
}

.column p {
	padding-top: 10px;
	font-family: Georgia, Cambria, Palatino, Times, serif;
}

#support {
	padding-right: 70px;
}

#aims-list {
	margin-top: 32px;
	margin-right: 10px;
}

.glyphicon {
	margin-right:2px;
}

.navbar {
	background-color: #336699;
}

.nav {
	position: static;
	top: 0;
	margin-right: 20px;
	z-index: 1;
}
.carousel {
	margin-top: -45px;
  	margin-left: -60px;
  	margin-right: -60px;
  	margin-bottom: -48px;
}
.nav ul li {
	display: inline-block;
	padding: 20px 10px 20px;
}

#bs-example-navbar-collapse-1 ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

.nav a:hover {
	font-weight: bolder;
	color: #ff0;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#carousel-example-generic {
}

.downloadimage {
	background-image: url(../img/downloadround-md.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 	color: orange;
 	height: 800px;
 	margin-bottom: 1.5em;
}

.downloadimage a {
	background-color: orange;
}

.downloadimage h4 {
	margin-left: 60px;
}
/*
.panel-body {
	color: white;
}
*/
.panel-heading a{
	font-size: 125%;
}

#collapseOne {
	background-image: url(../img/havana-capitolio.jpg);
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
	color: white;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 800px;
 	font-size: 1.25em;
 	margin-bottom: 1.5em;
}

#studyTwo {
	 	padding-top: 10px;
}

#collapseTwo {
	background-image: url(../img/cuba-bridge-md.jpg);
	background-position: center; 
 	background-size: cover;
    background-attachment: fixed;
 	width: 100%;
 	color: white;
 	padding: 100px;
 	padding-top: 50px;
 	padding-left: 20px;
 	font-size: 1.4em;
 	height: 800px;
 	margin-bottom: 1.5em;
}

#collapseThree {
 	background-image: url(../img/cuba-vinales.jpg);
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 800px;
    font-size: 1.4em;
    margin-bottom: 1.5em;
}

#collapseFour {
 	background-image: url(../img/monte.jpg);
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 800px;
    font-size: 1.4em;
    padding-bottom: 1.5em;
}

#aims {
 	background-image: url(../img/arrow-md.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	width: 100%;
 	color: black;
 	height: 800px;
 	margin-bottom: 1.5em;
}

#aims-satzung {
	padding-top: 375px;
}

#contactimage {
 	background-image: url(../img/contact-md.jpg);
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
    color: white;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 800px;
}

#contact-list {
	margin-left: 55px; 
	margin-top: 42px;
}
#contact-list ul {
		list-style-type: none; 
		margin-top: -37px;
		margin-left: -12px;
}

#member {
	background-image: url(../img/camin-md.jpg);
    background-attachment: fixed;
/*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
/*Have the background cover the entire div section*/
    color: white;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding:100px;
    padding-top: 50px;
    height: 800px;
 	margin-bottom: 1.5em;
 	padding: 63px 10px 10px 40px;
 	font-size: 1.2em;
}

#member a {
	color: yellow;
}

ul#konto {
	padding-top: 20px;
	list-style-type: none;
}

img {
	width: 100%;
}
footer {
	padding-top: 30px;
}

#footing1 {
	float: left;
}

#footing2 > p{
	text-align: right;
	float: right;
	color: #336699;
}

.perceptika {
	text-transform: uppercase;
	margin-left: 20px;
}

.perceptika a {
	color: white;
	text-decoration: none;
}

.panel-heading > h2 {
	background-color: white;
}

.panel-title {
	color: #336699;
}
.rapa  {
	width: 100%;
	height: auto;
}

.glyphicon {
	margin-right: 2px;
}

.glyphicon: hover {
	color: #ff0;
	transition: color 900ms;
}
